:root {
  --white: #fff;
  --bg-color: #141622;
  --bg-payment: #1D1F2C;
  --br: 20px;
  --purple: #6F6AF8;
  --light-grey: #9196B4;
  --line: #282A39;
  --select-border: #454A66;
  --select-br: 12px;
  --bg-list: #3D4053;
  --box-shadow: 14px 12px 24px rgba(0, 0, 0, 0.08);
  --select-selected: #363849;
  --scroll-bg: #535770;
  --wallet-bg: #252838;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  color: var(--white);
  background-color: var(--white);
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: Montserrat;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
button {
  color: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.md {
  margin: auto;
}

.img-full {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cpay {
  position: relative;
  background-color: var(--bg-color);
  height: auto;
  min-height: 100vh;
  width: 100%;
  padding-top: 9.8rem;
  padding-bottom: 4.4rem;
}

.cpay__logo {
  position: absolute;
  width: 7.2rem;
  height: 2.6rem;
  top: 3rem;
  left: 1.6rem;
}

.cpay__support {
  position: absolute;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 193%;
  top: 2.8rem;
  right: 1.6rem;
}

.cpay__wrap {
  width: 100%;
}

.cpay__merchant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cpay__merchant:not(:last-child) {
  margin-bottom: 2.5rem;
}

.cpay__body {
  width: 100%;
  background-color: var(--bg-payment);
  border-radius: var(--br);
  padding: 2.4rem 1.6rem;
}

.cpay__body:not(:last-child) {
  margin-bottom: 2.4rem;
}

.cpay__privacy {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  text-align: center;
  opacity: 0.4;
}

.cpay__privacy_btn {
  color: var(--purple);
}

.cpay-merchant__logo {
  width: 4rem;
  height: 4rem;
}

.cpay-merchant__logo:not(:last-child) {
  margin-bottom: 0.8rem;
}

.cpay-merchant__name {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.cpay-body__head:not(:last-child) {
  margin-bottom: 2.4rem;
}

.cpay-body__head_title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2222222222;
  text-align: center;
}

.cpay-body__head_title:not(:last-child) {
  margin-bottom: 1.7rem;
}

.cpay-body__head_amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cpay-body__head_amount-title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.cpay-body__head_amount-currency {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.cpay-body__content {
  padding: 3.2rem 0 2.5rem;
  border-top: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
}

.cpay-body__content:not(:last-child) {
  margin-bottom: 2.4rem;
}

.select {
  position: relative;
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select:not(:last-child) {
  margin-bottom: 2.4rem;
}

.select_crypto .current::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_526_159' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Cpath d='M16 0H0V16H16V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_526_159)'%3E%3Cpath d='M8 0C12.4181 0 16 3.58192 16 8C16 12.4181 12.4179 16 8 16C3.58208 16 0 12.419 0 8C0 3.58096 3.58144 0 8 0Z' fill='%2353AE94'/%3E%3Cpath d='M8.98734 6.93402V5.74394H11.7088V3.93066H4.29822V5.74394H7.01998V6.93306C4.80798 7.03466 3.14478 7.47274 3.14478 7.99754C3.14478 8.52234 4.80878 8.96042 7.01998 9.06266V12.8747H8.98798V9.06235C11.196 8.96042 12.8558 8.52266 12.8558 7.99834C12.8558 7.47402 11.1954 7.03594 8.98734 6.93402ZM8.98798 8.73946C8.93246 8.74298 8.64718 8.75914 8.01198 8.75914C7.50414 8.75914 7.14685 8.74474 7.02094 8.73818V8.73978C5.0667 8.65322 3.60798 8.3129 3.60798 7.9057C3.60798 7.4985 5.06686 7.15866 7.02094 7.07194V8.40074C7.14893 8.40954 7.51501 8.43114 8.02029 8.43114C8.62717 8.43114 8.9323 8.40586 8.9883 8.40074V7.07194C10.9387 7.15882 12.3941 7.49946 12.3941 7.90522C12.3941 8.31098 10.9378 8.65258 8.98798 8.73946Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}

.select_crypto .list .option::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_526_159' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Cpath d='M16 0H0V16H16V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_526_159)'%3E%3Cpath d='M8 0C12.4181 0 16 3.58192 16 8C16 12.4181 12.4179 16 8 16C3.58208 16 0 12.419 0 8C0 3.58096 3.58144 0 8 0Z' fill='%2353AE94'/%3E%3Cpath d='M8.98734 6.93402V5.74394H11.7088V3.93066H4.29822V5.74394H7.01998V6.93306C4.80798 7.03466 3.14478 7.47274 3.14478 7.99754C3.14478 8.52234 4.80878 8.96042 7.01998 9.06266V12.8747H8.98798V9.06235C11.196 8.96042 12.8558 8.52266 12.8558 7.99834C12.8558 7.47402 11.1954 7.03594 8.98734 6.93402ZM8.98798 8.73946C8.93246 8.74298 8.64718 8.75914 8.01198 8.75914C7.50414 8.75914 7.14685 8.74474 7.02094 8.73818V8.73978C5.0667 8.65322 3.60798 8.3129 3.60798 7.9057C3.60798 7.4985 5.06686 7.15866 7.02094 7.07194V8.40074C7.14893 8.40954 7.51501 8.43114 8.02029 8.43114C8.62717 8.43114 8.9323 8.40586 8.9883 8.40074V7.07194C10.9387 7.15882 12.3941 7.49946 12.3941 7.90522C12.3941 8.31098 10.9378 8.65258 8.98798 8.73946Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}

.select .nice-select {
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: 1px solid var(--select-border);
  border-radius: var(--select-br);
  padding-left: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.select .nice-select::after {
  border-bottom: 1.5px solid var(--white);
  border-right: 1.5px solid var(--white);
  right: 2.3rem;
}

.select .nice-select .current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select .nice-select .list {
  width: 100%;
  background-color: var(--bg-list);
  border-radius: var(--select-br);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  max-height: 30.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.select .nice-select .list::-webkit-scrollbar {
  background-color: var(--scroll-bg);
  border: 0.8rem solid transparent;
  min-width: 2rem;
  border-radius: 100px;
  background-clip: content-box;
}

.select .nice-select .list::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border: 0.8rem solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}

.select .nice-select .list .option {
  height: 5.1rem;
  padding-left: 1.6rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select .nice-select .list .option.selected,
.select .nice-select .list .option.focus,
.select .nice-select .list .option:hover {
  background-color: var(--select-selected);
}

.select .nice-select .list .option.selected.focus {
  background-color: var(--select-selected);
}

.select label {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--light-grey);
  padding: 0 0.8rem;
  height: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-payment);
  border: 1px solid var(--select-border);
  border-radius: var(--select-br);
  position: absolute;
  left: 1.6rem;
  top: -0.8rem;
  z-index: 2;
}

.select_wallet {
  position: relative;
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select_wallet:not(:last-child) {
  margin-bottom: 2.4rem;
}

.select_wallet .nice-select {
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: 1px solid var(--select-border);
  border-radius: var(--select-br);
  padding-left: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.select_wallet .nice-select::after {
  border-bottom: 1.5px solid var(--white);
  border-right: 1.5px solid var(--white);
  right: 2.3rem;
}

.select_wallet .nice-select .current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select_wallet .nice-select .list {
  width: 100%;
  background-color: var(--bg-list);
  border-radius: var(--select-br);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  max-height: 30.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.select_wallet .nice-select .list::-webkit-scrollbar {
  background-color: var(--scroll-bg);
  border: 0.8rem solid transparent;
  min-width: 2rem;
  border-radius: 100px;
  background-clip: content-box;
}

.select_wallet .nice-select .list::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border: 0.8rem solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}

.select_wallet .nice-select .list .option {
  height: 5.1rem;
  padding-left: 1.6rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select_wallet .nice-select .list .option.selected,
.select_wallet .nice-select .list .option.focus,
.select_wallet .nice-select .list .option:hover {
  background-color: var(--select-selected);
}

.select_wallet .nice-select .list .option.selected.focus {
  background-color: var(--select-selected);
}

.select_wallet label {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: var(--light-grey);
  position: absolute;
  top: 1.1rem;
  left: 1.6rem;
  background-color: var(--bg-payment);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.select_wallet--active label {
  font-size: 1rem;
  line-height: 1.2;
  padding: 0 0.8rem;
  height: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--select-border);
  border-radius: var(--select-br);
  left: 1.6rem;
  top: -0.8rem;
  z-index: 2;
}

.invoice {
  position: relative;
  padding-right: 3.2rem;
}

.invoice:not(:last-child) {
  margin-bottom: 2.7rem;
}

.invoice__title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: var(--light-grey);
}

.invoice__title:not(:last-child) {
  margin-bottom: 0.4rem;
}

.invoice__copy {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  word-wrap: break-word;
}

.invoice__btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.total {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 4rem;
}

.total__title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5714285714;
}

.total__copy {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5714285714;
}

.total__btn {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.copybtn {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.tabs__wrap {
  width: 100%;
  height: 4.1rem;
  border: 1px solid var(--select-border);
  border-radius: var(--select-br);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs__wrap:not(:last-child) {
  margin-bottom: 2.4rem;
}

.tabs__wrap .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: var(--select-br);
}

.tabs__wrap .tab--active {
  background-color: var(--purple);
}

.tabs__content .content {
  display: none;
}

.tabs__content .content--active {
  display: block;
}

.address {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address__qr {
  min-width: 9.5rem;
  width: 9.5rem;
  height: 9.5rem;
}

.address__body {
  max-width: calc(100% - 11rem);
}

.address__body_title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: var(--light-grey);
}

.address__body_title:not(:last-child) {
  margin-bottom: 1.2rem;
}

.address__body_copy {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  word-wrap: break-word;
}

.submit_btn {
  width: 100%;
  height: 4.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  background-color: var(--purple);
  border-radius: var(--select-br);
}

.submit_btn:disabled {
  background-color: #44464F;
  color: #A5A5A5;
}

.submit_btn.disabled {
  background-color: #44464F;
  color: #A5A5A5;
  pointer-events: none;
  cursor: default;
}

.wallet {
  display: -ms-grid;
  display: grid;
}

.wallet:not(:last-child) {
  margin-bottom: 3.2rem;
}

.wallet__item {
  width: 100%;
  height: 6rem;
  background: var(--wallet-bg);
  border-radius: var(--br);
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cpay__mess {
  display: none;
  position: fixed;
  top: 0.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #61CD59;
  -webkit-box-shadow: 8px 12px 48px rgba(56, 185, 84, 0.16);
          box-shadow: 8px 12px 48px rgba(56, 185, 84, 0.16);
  border-radius: 20px;
  padding: 1.6rem;
}

.cpay__mess_p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cpay__mess_p:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_578_243)'%3E%3Cpath d='M21.7988 12.1113C21.7988 17.4616 17.4616 21.7988 12.1113 21.7988C6.76105 21.7988 2.42383 17.4616 2.42383 12.1113C2.42383 6.76106 6.76105 2.42383 12.1113 2.42383C17.4616 2.42383 21.7988 6.76106 21.7988 12.1113ZM10.9908 17.2408L18.1783 10.0533C18.4223 9.80922 18.4223 9.41348 18.1783 9.16941L17.2944 8.28555C17.0504 8.04145 16.6546 8.04145 16.4105 8.28555L10.5488 14.1472L7.81215 11.4105C7.56809 11.1664 7.17234 11.1664 6.92824 11.4105L6.04437 12.2944C5.80031 12.5384 5.80031 12.9342 6.04437 13.1782L10.1069 17.2407C10.351 17.4848 10.7467 17.4848 10.9908 17.2408Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_578_243'%3E%3Crect width='20' height='20' fill='white' transform='translate(2.11121 2.11133)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.2rem;
}

.cpay__timer {
  display: none;
  position: relative;
  margin-bottom: 2.4rem;
}

.cpay__timer_circle {
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  margin: 0 auto 0.8rem;
}

.cpay__timer_circle .e-c-base {
  fill: none;
  stroke: #434760;
  stroke-width: 1.4rem;
}

.cpay__timer_circle .e-c-progress {
  fill: none;
  stroke: #fff;
  stroke-width: 1.4rem;
  -webkit-transition: stroke-dashoffset 0.7s;
  -o-transition: stroke-dashoffset 0.7s;
  transition: stroke-dashoffset 0.7s;
}

.cpay__timer_time {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.25;
}

.cpay__timer_p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  opacity: 0.3;
  text-align: center;
}

.payment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--line);
  padding-bottom: 2.4rem;
}

.payment__item:not(:last-child) {
  margin-bottom: 2.4rem;
}

.payment__item_title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.payment__item_info {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.payment__item_label {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  padding: 0.3rem 2.4rem;
  border-radius: var(--select-br);
}

.payment__item_label-green {
  background: #61CD59;
}

.payment__item_label-yellow {
  background: #CFD22C;
}

.payment__item_label-red {
  background: #F03131;
}

.cpay-payment__footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 3.2rem);
  padding: 2.4rem 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid var(--line);
}

.cpay-payment__footer_link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: #72737A;
}

.cpay-payment__footer_link:not(:last-child) {
  margin-right: 3.2rem;
}

@media (min-width: 410px) {
  .cpay {
    padding-top: 2.4rem;
    padding-bottom: 12rem;
  }

  .cpay__logo {
    left: 3.2rem;
  }

  .cpay__support {
    right: 3.2rem;
  }

  .cpay__wrap {
    width: 39rem;
    margin: 0 auto;
  }

  .cpay__body {
    padding: 2.4rem;
  }

  .tabs__wrap .tab {
    width: 50%;
  }

  .address {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .address__body {
    max-width: 19.5rem;
  }

  .wallet {
    -ms-grid-columns: (10.8rem)[3];
    grid-template-columns: repeat(3, 10.8rem);
    grid-column-gap: 0.8rem;
  }

  .cpay-payment__footer {
    width: calc(100% - 6.4rem);
  }
}

@media (min-width: 1280px) {
  .md {
    max-width: 156rem;
  }

  .mob {
    display: none;
  }
}

@media (max-width: 1280px) {
  .md {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .mob-none {
    display: none;
  }
}

@media (max-width: 410px) {
  .cpay__wrap {
    padding: 0 1.6rem;
  }

  .invoice__btn {
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }

  .tabs__wrap .tab {
    width: 35.5%;
  }

  .tabs__wrap .tab:nth-child(1) {
    width: 64.5%;
  }

  .address__qr {
    margin-right: 1.5rem;
  }

  .address__body_title {
    max-width: 80%;
  }

  .address__btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .wallet {
    grid-row-gap: 0.8rem;
  }

  .wallet__item svg {
    max-width: 7.5rem;
  }
}