:root {
  --white: #fff;
  --bg-color: #141622;
  --bg-payment: #1D1F2C;
  --br: 20px;
  --purple: #6F6AF8;
  --light-grey: #9196B4;
  --line: #282A39;
  --select-border: #454A66;
  --select-br: 12px;
  --bg-list: #3D4053;
  --box-shadow: 14px 12px 24px rgba(0, 0, 0, 0.08);
  --select-selected: #363849;
  --scroll-bg: #535770;
  --wallet-bg: #252838;
  --primary: #6F6AF8;
  --disabled: #A5A5A5;
  --disabled-bg: #44464F;
  --hover: #5C57D3;
  --pressed: #4A46BA;
  --small-br: 12px;
  --item-bg: #1A1D2C;
  --error: #E43A3A;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: RacingSansOne;
  font-display: swap;
  src: url("../fonts/RacingSansOne-Regular.woff2") format("woff2"), url("../fonts/RacingSansOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  color: var(--white);
  background-color: var(--white);
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
  background: #10121E;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
button {
  color: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  max-width: 128rem;
  margin: 0 auto;
  overflow: hidden;
}

.md {
  position: relative;
}

.img-full {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.ttitle {
  font-family: RacingSansOne;
  font-size: 3.4rem;
  line-height: 1.2647058824;
  font-weight: 400;
}

.ttitle span {
  color: var(--primary);
}

.mtitle {
  font-family: RacingSansOne;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.25;
}

.p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7142857143;
}

.logo {
  width: 7.2rem;
  height: 2.6rem;
}

.support {
  font-size: 1.4rem;
  line-height: 1.9285714286;
  font-weight: 400;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.support:active {
  color: var(--pressed);
}

.btn {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: var(--white);
  background-color: var(--primary);
  border-radius: var(--small-br);
  padding: 0 2.9rem;
  height: 4.1rem;
  min-width: 12.2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn.disabled {
  background-color: var(--disabled-bg);
  color: var(--disabled);
  pointer-events: none;
  cursor: default;
}

.btn:active {
  background-color: var(--pressed);
}

.btn_primary {
  background-color: inherit;
  border: 1px solid var(--primary);
}

.btn_primary.disabled {
  background-color: inherit;
  color: var(--disabled);
  border-color: var(--disabled-bg);
  pointer-events: none;
  cursor: default;
}

.btn_primary:active {
  background-color: var(--hover);
}

.list__item {
  position: relative;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7142857143;
  padding-left: 2.2rem;
}

.list__item:not(:last-child) {
  margin-bottom: 1.3rem;
}

.list__item:before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  top: 0.7rem;
}

.header {
  position: relative;
  z-index: 2;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8rem 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo:not(:last-child) {
  margin-right: 1.6rem;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login {
  width: 2.4rem;
  height: 2.4rem;
}

.header__btn:not(:last-child) {
  margin-right: 1.6rem;
}

.footer {
  background: #10121E;
  position: relative;
}

.footer__wrap {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__btns-item {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2142857143;
  color: #72737A;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__btns-item:active {
  color: var(--pressed);
}

.footer__bg {
  position: absolute;
  z-index: 0;
  width: 149.422rem;
  height: 92.5rem;
  bottom: -26.6rem;
  right: -34.1rem;
}

.footer__bg-color {
  position: absolute;
  z-index: 1;
  left: -50%;
  bottom: -0.4rem;
  width: 76rem;
  height: auto;
}

.cookie {
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #2D3249;
  -webkit-box-shadow: 8px 12px 44px rgba(19, 24, 44, 0.5);
          box-shadow: 8px 12px 44px rgba(19, 24, 44, 0.5);
  border-radius: var(--br);
  z-index: 99;
  min-width: 95%;
  bottom: 1.6rem;
  padding: 1.6rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cookie__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cookie__icon {
  min-width: 4.4rem;
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 1.6rem;
}

.cookie__p {
  font-size: 1.4rem;
  line-height: 143%;
  font-weight: 500;
}

.cookie__p a {
  color: var(--primary);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cookie__p a:active {
  color: var(--pressed);
}

.cookie__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookie__btn:not(:last-child) {
  margin-right: 1.6rem;
}

.modal {
  display: none;
  background: #1A192B;
  -webkit-box-shadow: 0px 4px 76px rgba(10, 10, 33, 0.45);
          box-shadow: 0px 4px 76px rgba(10, 10, 33, 0.45);
  border-radius: 20px;
  padding: 4.8rem 1.6rem;
  cursor: initial;
}

.modal__privacy {
  font-size: 1.4rem;
  line-height: 1.7142857143;
  font-weight: 400;
  text-align: center;
  color: #5A596F;
  margin-top: -1.6rem;
}

.modal__privacy:not(:last-child) {
  margin-bottom: 4rem;
}

.modal__privacy_btn {
  color: var(--primary);
}

.modal__privacy_btn:hover {
  color: var(--hover);
}

.modal__privacy_btn:active {
  color: var(--pressed);
}

.modal__head:not(:last-child) {
  margin-bottom: 3.2rem;
}

.modal__head-title {
  font-family: RacingSansOne;
  font-size: 2.4rem;
  line-height: 1.25;
  text-align: center;
}

.modal__head-title:not(:last-child) {
  margin-bottom: 2.4rem;
}

.modal__head-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #898CA9;
  max-width: 34.2rem;
}

.modal__btn {
  width: 100%;
}

.modal__form {
  margin-bottom: 4rem;
}

.modal__bot {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  font-weight: 400;
}

.modal__bot a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: var(--primary);
  transition: all 0.3s ease 0s;
}

.modal__bot a:hover {
  color: var(--hover);
}

.modal__bot a:active {
  color: var(--pressed);
}

.modal__bot_btns {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  font-weight: 400;
  color: var(--primary);
}

.modal__bot_btns a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: var(--primary);
  transition: all 0.3s ease 0s;
  margin: 0 2.4rem;
}

.modal__bot_btns a:hover {
  color: var(--hover);
}

.modal__bot_btns a:active {
  color: var(--pressed);
}

.modal-form__forgot {
  display: block;
  text-align: center;
  margin-top: -0.8rem;
  margin-bottom: 3.2rem;
}

.modal-form__btn {
  width: 100%;
}

.input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input_password-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: var(--primary);
  position: absolute;
  right: 1.6rem;
  top: 1.1rem;
}

.input label {
  font-size: 1rem;
  line-height: 1.2;
  color: #9196B4;
  border: 1px solid #454A66;
  background-color: #1A192B;
  border-radius: 12px;
  position: absolute;
  top: -0.8rem;
  left: 1.6rem;
  height: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.8rem;
  opacity: 0;
}

.input__input {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  width: 100%;
  height: 4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.6rem;
  background-color: inherit;
  color: #9196B4;
  border: 0.1rem solid #454A66;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input__input.error {
  border-color: var(--error);
}

.input__input.error:hover {
  border-color: var(--error);
}

.input__input.error:focus ~ label {
  border-color: var(--error);
}

.input__input.valid {
  border-color: var(--454A66);
}

.input__input.valid:hover {
  border-color: var(--primary);
}

.input__input.valid:focus ~ label {
  border-color: var(--primary);
}

.input__input.valid ~ label {
  opacity: 1;
}

.input__input:hover {
  border-color: var(--primary);
}

.input__input:focus {
  color: var(--white);
  border-color: var(--primary);
}

.input__input:focus::-webkit-input-placeholder {
  display: none;
}

.input__input:focus::-moz-placeholder {
  display: none;
}

.input__input:focus:-ms-input-placeholder {
  display: none;
}

.input__input:focus::-ms-input-placeholder {
  display: none;
}

.input__input:focus::placeholder {
  display: none;
}

.input__input:focus.error {
  border-color: var(--error);
}

.input__input:focus ~ label {
  opacity: 1;
  border-color: var(--primary);
}

.input__input:disabled {
  opacity: 0.4;
}

.input__input:disabled:hover {
  border-color: #454A66;
}

.input span.error {
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 500;
  color: var(--error);
  margin-top: 0.8rem;
}

.btn {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn_text {
  font-size: 1.4rem;
  line-height: 1.2142857143;
  font-weight: 400;
  color: var(--primary);
}

.btn_text:hover {
  color: var(--hover);
}

.btn_text:active {
  color: var(--pressed);
}

.hero {
  position: relative;
}

.hero__wrap {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__body-title {
  margin-bottom: 2.4rem;
}

.hero__body-list {
  margin-bottom: 3.2rem;
}

.hero__picture {
  width: 100%;
  height: auto;
}

.hero__bg {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 61rem;
  height: 65.3rem;
  top: 4.7rem;
}

.hero__bg_color {
  position: absolute;
  z-index: 0;
  right: 0;
  width: 50.9rem;
  height: 91.2rem;
}

.l-wallet {
  position: relative;
  z-index: 1;
}

.l-wallet__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-wallet__item {
  width: 14.1rem;
  height: 9.6rem;
}

.accept {
  position: relative;
}

.accept__wrap {
  position: relative;
  z-index: 1;
  padding-top: 5.8rem;
  padding-bottom: 16.2rem;
}

.accept__title {
  text-align: center;
}

.accept__title:not(:last-child) {
  margin-bottom: 5.6rem;
}

.accept__item {
  position: relative;
  background-color: var(--item-bg);
  border-radius: var(--br);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.9rem 3rem;
}

.accept__item-icon {
  width: 10.4rem;
  height: 10.4rem;
  margin-top: -1.6rem;
}

.accept__item-icon:not(:last-child) {
  margin-bottom: 3.3rem;
}

.accept__item-title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  color: var(--primary);
}

.accept__item-title:not(:last-child) {
  margin-bottom: 1.6rem;
}

.accept__item-p {
  text-align: center;
}

.accept__bg {
  position: absolute;
  z-index: 0;
  left: 0;
  width: 45.3rem;
  height: 104.5rem;
}

.accept__coin {
  position: absolute;
  z-index: 0;
  width: 13.9rem;
  height: 14.2rem;
}

.block {
  position: relative;
}

.block__wrap {
  position: relative;
  z-index: 1;
}

.block__picture {
  -webkit-filter: drop-shadow(16px 20px 84px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(16px 20px 84px rgba(0, 0, 0, 0.08));
  width: 100%;
  height: auto;
}

.block__body-title:not(:last-child) {
  margin-bottom: 2.4rem;
}

.block__bg {
  position: absolute;
  z-index: 0;
  width: 74.94rem;
  height: 85.675rem;
  top: -30.2rem;
  left: 1.16rem;
}

.block-reverse {
  position: relative;
}

.block-reverse__wrap {
  position: relative;
  z-index: 1;
}

.block-reverse__body-title:not(:last-child) {
  margin-bottom: 2.4rem;
}

.block-reverse__picture {
  width: 100%;
  height: auto;
}

.block-reverse__coin {
  position: absolute;
  z-index: 0;
  width: 14.8rem;
  height: 14.8rem;
}

.integrate {
  position: relative;
}

.integrate__wrap {
  position: relative;
  z-index: 1;
}

.integrate__head-title {
  text-align: center;
}

.integrate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integrate__item-icon {
  width: 10.4rem;
  height: 10.4rem;
}

.integrate__item-icon:not(:last-child) {
  margin-bottom: 2.4rem;
}

.integrate__item-p {
  text-align: center;
}

.integrate__bg {
  position: absolute;
  z-index: 0;
  width: 44.6rem;
  height: 119.4rem;
  top: 20.8rem;
}

.integrate__coin {
  position: absolute;
  z-index: 0;
  width: 14.998rem;
  height: 14.998rem;
}

.ready {
  position: relative;
}

.ready__wrap {
  position: relative;
  z-index: 3;
  padding: 6.4rem 0 10.8rem;
}

.ready__title {
  text-align: center;
  margin-bottom: 1.6rem;
}

.ready__p {
  text-align: center;
  margin-bottom: 3.2rem;
  color: #898CA9;
}

.ready__coin {
  position: absolute;
  z-index: 0;
  width: 15.9rem;
  height: 15.8rem;
}

.cpay {
  position: relative;
  background-color: var(--bg-color);
  height: auto;
  min-height: 100vh;
  width: 100%;
  padding-top: 9.8rem;
  padding-bottom: 4.4rem;
}

.cpay__logo {
  position: absolute;
  width: 7.2rem;
  height: 2.6rem;
  top: 3rem;
  left: 1.6rem;
}

.cpay__support {
  position: absolute;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 193%;
  top: 2.8rem;
  right: 1.6rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cpay__support:active {
  color: var(--hover);
}

.cpay__wrap {
  width: 100%;
}

.cpay__merchant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cpay__merchant:not(:last-child) {
  margin-bottom: 2.5rem;
}

.cpay__body {
  width: 100%;
  background-color: var(--bg-payment);
  border-radius: var(--br);
  padding: 2.4rem 1.6rem;
}

.cpay__body:not(:last-child) {
  margin-bottom: 2.4rem;
}

.cpay__privacy {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  text-align: center;
  opacity: 0.4;
}

.cpay__privacy_btn {
  color: var(--purple);
}

.cpay-merchant__logo {
  width: 4rem;
  height: 4rem;
}

.cpay-merchant__logo:not(:last-child) {
  margin-bottom: 0.8rem;
}

.cpay-merchant__name {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.cpay-body__head:not(:last-child) {
  margin-bottom: 2.4rem;
}

.cpay-body__head_title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2222222222;
  text-align: center;
}

.cpay-body__head_title:not(:last-child) {
  margin-bottom: 1.7rem;
}

.cpay-body__head_amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cpay-body__head_amount-title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.cpay-body__head_amount-currency {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.cpay-body__content {
  padding: 3.2rem 0 2.5rem;
  border-top: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
}

.cpay-body__content:not(:last-child) {
  margin-bottom: 2.4rem;
}

.select {
  position: relative;
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select:not(:last-child) {
  margin-bottom: 2.4rem;
}

.select-nolabel label {
  opacity: 0;
  z-index: -1;
}

.select:focus-within label {
  font-size: 1rem;
  line-height: 1.2;
  padding: 0 0.8rem;
  height: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--primary);
  border-radius: var(--select-br);
  left: 1.6rem;
  top: -0.8rem;
  z-index: 2;
  width: auto;
  opacity: 1;
  z-index: 1;
}

.select_crypto .current img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}

.select_crypto .list .option img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}

.select .nice-select {
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: 1px solid var(--select-border);
  border-radius: var(--select-br);
  padding-left: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.select .nice-select::after {
  border-bottom: 1.5px solid var(--white);
  border-right: 1.5px solid var(--white);
  right: 2.3rem;
}

.select .nice-select .current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select .nice-select#crypto .option {
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
  background-position: 1.6rem 45%;
  padding-left: 4rem;
}

.select .nice-select#crypto .current {
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
  background-position: 0 50%;
  padding-left: 2.4rem;
  height: 1.6rem;
}

.select .nice-select .list {
  width: 100%;
  background-color: var(--bg-list);
  border-radius: var(--select-br);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  max-height: 30.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.select .nice-select .list::-webkit-scrollbar {
  background-color: var(--scroll-bg);
  border: 0.8rem solid transparent;
  min-width: 2rem;
  border-radius: 100px;
  background-clip: content-box;
}

.select .nice-select .list::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border: 0.8rem solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}

.select .nice-select .list .option {
  height: 5.1rem;
  padding-left: 1.6rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select .nice-select .list .option.selected,
.select .nice-select .list .option.focus,
.select .nice-select .list .option:hover {
  background-color: var(--select-selected);
}

.select .nice-select .list .option.selected.focus {
  background-color: var(--select-selected);
}

.select .nice-select.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.select .nice-select.disabled .current {
  display: none;
}

.select .nice-select.disabled ~ label {
  opacity: 0.4;
}

.select label {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: var(--light-grey);
  position: absolute;
  top: 1.1rem;
  left: 1.6rem;
  background: #1D1F2C;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50%;
}

.select.--active:focus-within label {
  border: 1px solid var(--primary);
}

.select.--active label {
  font-size: 1rem;
  line-height: 1.2;
  padding: 0 0.8rem;
  height: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--select-border);
  border-radius: var(--select-br);
  left: 1.6rem;
  top: -0.8rem;
  z-index: 2;
  width: auto;
  opacity: 1;
}

.invoice {
  position: relative;
  padding-right: 3.2rem;
}

.invoice:not(:last-child) {
  margin-bottom: 2.7rem;
}

.invoice__title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: var(--light-grey);
}

.invoice__title:not(:last-child) {
  margin-bottom: 0.4rem;
}

.invoice__copy {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  word-wrap: break-word;
}

.invoice__btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.total {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 4rem;
}

.total__title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5714285714;
}

.total__copy {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5714285714;
}

.total__btn {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.copybtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.copybtn svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.copybtn:active svg path {
  fill: #3E3AA5;
}

.tabs__wrap {
  width: 100%;
  height: 4.1rem;
  border: 1px solid var(--select-border);
  border-radius: var(--select-br);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs__wrap:not(:last-child) {
  margin-bottom: 2.4rem;
}

.tabs__wrap .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: var(--select-br);
}

.tabs__wrap .tab--active {
  background-color: var(--purple);
}

.tabs__wrap .tab--active:hover {
  color: var(--white) !important;
}

.tabs__content .content {
  display: none;
}

.tabs__content .content--active {
  display: block;
}

.address {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address__qr {
  min-width: 9.5rem;
  width: 9.5rem;
  height: 9.5rem;
}

.address__body {
  max-width: calc(100% - 11rem);
}

.address__body_title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: var(--light-grey);
}

.address__body_title:not(:last-child) {
  margin-bottom: 1.2rem;
}

.address__body_copy {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  word-wrap: break-word;
}

.submit_btn {
  width: 100%;
  height: 4.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  background-color: var(--purple);
  border-radius: var(--select-br);
}

.submit_btn:disabled {
  background-color: #44464F;
  color: #A5A5A5;
}

.submit_btn.disabled {
  background-color: #44464F;
  color: #A5A5A5;
  pointer-events: none;
  cursor: default;
}

.wallet {
  display: -ms-grid;
  display: grid;
}

.wallet:not(:last-child) {
  margin-bottom: 3.2rem;
}

.wallet__item {
  width: 100%;
  height: 6rem;
  background: var(--wallet-bg);
  border-radius: var(--br);
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cpay__mess {
  display: none;
  position: fixed;
  top: 0.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #61CD59;
  -webkit-box-shadow: 8px 12px 48px rgba(56, 185, 84, 0.16);
          box-shadow: 8px 12px 48px rgba(56, 185, 84, 0.16);
  border-radius: 20px;
  padding: 1.6rem;
}

.cpay__mess_p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cpay__mess_p:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_578_243)'%3E%3Cpath d='M21.7988 12.1113C21.7988 17.4616 17.4616 21.7988 12.1113 21.7988C6.76105 21.7988 2.42383 17.4616 2.42383 12.1113C2.42383 6.76106 6.76105 2.42383 12.1113 2.42383C17.4616 2.42383 21.7988 6.76106 21.7988 12.1113ZM10.9908 17.2408L18.1783 10.0533C18.4223 9.80922 18.4223 9.41348 18.1783 9.16941L17.2944 8.28555C17.0504 8.04145 16.6546 8.04145 16.4105 8.28555L10.5488 14.1472L7.81215 11.4105C7.56809 11.1664 7.17234 11.1664 6.92824 11.4105L6.04437 12.2944C5.80031 12.5384 5.80031 12.9342 6.04437 13.1782L10.1069 17.2407C10.351 17.4848 10.7467 17.4848 10.9908 17.2408Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_578_243'%3E%3Crect width='20' height='20' fill='white' transform='translate(2.11121 2.11133)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  min-width: 2.4rem;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.2rem;
}

.cpay__timer {
  display: none;
  position: relative;
  margin-bottom: 2.4rem;
}

.cpay__timer_circle {
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  margin: 0 auto 0.8rem;
}

.cpay__timer_circle .e-c-base {
  fill: none;
  stroke: #434760;
  stroke-width: 1.4rem;
}

.cpay__timer_circle .e-c-progress {
  fill: none;
  stroke: #fff;
  stroke-width: 1.4rem;
  -webkit-transition: stroke-dashoffset 0.7s;
  -o-transition: stroke-dashoffset 0.7s;
  transition: stroke-dashoffset 0.7s;
}

.cpay__timer_time {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.25;
}

.cpay__timer_p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  opacity: 0.3;
  text-align: center;
}

.payment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--line);
  padding-bottom: 2.4rem;
}

.payment__item:not(:last-child) {
  margin-bottom: 2.4rem;
}

.payment__item_title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.payment__item_info {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}

.payment__item_label {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  padding: 0.3rem 2.4rem;
  border-radius: var(--select-br);
}

.payment__item_label-green {
  background: #61CD59;
}

.payment__item_label-yellow {
  background: #CFD22C;
}

.payment__item_label-red {
  background: #F03131;
}

.cpay-payment__footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 3.2rem);
  padding: 2.4rem 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid var(--line);
}

.cpay-payment__footer_link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: #72737A;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cpay-payment__footer_link:not(:last-child) {
  margin-right: 3.2rem;
}

.cpay-payment__footer_link:active {
  color: var(--hover);
}

@media (min-width: 500px) {
  .ttitle {
    font-size: 5.4rem;
    line-height: 1.2592592593;
  }

  .mtitle {
    font-size: 4rem;
    line-height: 1.25;
  }

  .list__item {
    padding-left: 2.4rem;
  }

  .list__item:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  .footer__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3.7rem 0;
  }

  .footer__bg {
    width: 232.1rem;
    height: 117.8rem;
    bottom: -43.2rem;
    right: -102.8rem;
  }

  .footer__bg-color {
    left: 0;
  }

  .cookie {
    bottom: 0.8rem;
    padding: 1.5rem 1.9rem 1.5rem 2.4rem;
  }

  .cookie__icon {
    margin-right: 2.4rem;
  }

  .modal {
    max-width: 42.2rem;
    padding: 4.8rem 4rem;
  }

  .input:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  .input__input {
    width: 34.2rem;
  }

  .hero__body-title:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .hero__body-list:not(:last-child) {
    margin-bottom: 4rem;
  }

  .hero__picture {
    width: 31.2rem;
    height: 40.5rem;
  }

  .hero__bg {
    top: -3.8rem;
  }

  .hero__bg_color {
    top: 0.5rem;
  }

  .l-wallet__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .l-wallet__item {
    width: 16.4rem;
    height: 11.2rem;
  }

  .l-wallet__item:not(:last-child):not(:last-child) {
    margin-right: 0.8rem;
  }

  .accept__wrap {
    padding-top: 10.4rem;
    padding-bottom: 15.2rem;
  }

  .accept__title:not(:last-child) {
    margin-bottom: 6.4rem;
  }

  .accept__item {
    height: 23.5rem;
    padding: 0 2.2rem;
  }

  .accept__bg {
    top: -19.2rem;
  }

  .accept__coin {
    right: 0.9rem;
    bottom: 7.6rem;
  }

  .block__body-title:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .block__bg {
    top: -17.6rem;
    left: 21.5rem;
  }

  .block-reverse__body-title:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .block-reverse__coin {
    top: 0;
    right: 13.2rem;
  }

  .integrate__head {
    max-width: 46rem;
    margin: 0 auto 4.8rem;
  }

  .integrate__body {
    margin-bottom: 6.4rem;
  }

  .integrate__table {
    padding: 0 2.4rem;
  }

  .integrate__table-item {
    width: 100%;
    height: auto;
  }

  .integrate__bg {
    right: 0;
    top: 12.7rem;
  }

  .integrate__coin {
    left: -5.5rem;
    top: 15.3rem;
  }

  .ready__wrap {
    padding: 16rem 0 8.6rem;
  }

  .ready__body {
    max-width: 43.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }

  .ready__coin {
    top: 9.8rem;
    right: -6.4rem;
  }

  .cpay__logo {
    left: 3.2rem;
  }

  .cpay__support {
    right: 3.2rem;
  }

  .cpay__wrap {
    width: 39rem;
    margin: 0 auto;
  }

  .cpay__body {
    padding: 2.4rem;
  }

  .tabs__wrap .tab {
    width: 50%;
  }

  .address {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .address__body {
    max-width: 19.5rem;
  }

  .wallet {
    -ms-grid-columns: (10.8rem)[3];
    grid-template-columns: repeat(3, 10.8rem);
    grid-column-gap: 0.8rem;
  }

  .cpay-payment__footer {
    width: calc(100% - 6.4rem);
  }
}

@media (min-width: 580px) {
  .header__login {
    display: none;
  }
}

@media (min-width: 700px) {
  .cookie__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cookie__p {
    max-width: 31.7rem;
    margin-right: 3.5rem;
  }
}

@media (min-width: 720px) {
  .footer__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__logo {
    margin-right: 3.2rem;
  }

  .footer__btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 3rem;
  }

  .footer__btns-item:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (min-width: 768px) {
  .cookie {
    min-width: 72.3rem;
  }

  .cpay {
    padding-top: 2.4rem;
    padding-bottom: 12rem;
  }
}

@media (min-width: 1279px) {
  .md {
    max-width: 120rem;
    margin: 0 auto;
  }

  .mob {
    display: none;
  }

  .header__wrap {
    padding: 2.1rem 0;
  }

  .header__logo:not(:last-child) {
    margin-right: 3.2rem;
  }

  .footer__bg {
    right: -45rem;
    bottom: -67.5rem;
  }

  .cookie {
    bottom: 1.6rem;
  }

  .hero__wrap {
    padding: 4.6rem 0 13.3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero__body {
    margin-right: 14.4rem;
  }

  .hero__bg {
    top: -7.8rem;
  }

  .hero__bg_color {
    top: 5.5rem;
  }

  .accept__wrap {
    padding-top: 16.4rem;
    padding-bottom: 33.3rem;
  }

  .accept__title:not(:last-child) {
    margin-bottom: 11.3rem;
  }

  .accept__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.4rem;
  }

  .accept__bg {
    top: -23.1rem;
  }

  .accept__coin {
    bottom: 16.6rem;
    right: 15.3rem;
  }

  .block__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block__picture {
    width: 59.8rem;
    height: 36rem;
  }

  .block__picture {
    margin-left: -8.8rem;
    margin-right: 14.8rem;
  }

  .block__body {
    max-width: 50.4rem;
  }

  .block__body-list {
    max-width: 37.7rem;
  }

  .block__bg {
    top: -21rem;
    left: 3.74rem;
  }

  .block-reverse__wrap {
    padding-top: 34rem;
    padding-bottom: 21.8rem;
    padding-right: 5.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-reverse__body {
    max-width: 46rem;
    margin-right: 8.7rem;
  }

  .block-reverse__picture {
    width: 59.8rem;
    height: 25.942rem;
  }

  .block-reverse__coin {
    top: 15.1rem;
    left: 34.3rem;
  }

  .integrate__head {
    margin: 0 auto 7.2rem;
  }

  .integrate__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10.9rem;
    margin-bottom: 10.1rem;
  }

  .integrate__table {
    padding: 0 13rem;
  }

  .integrate__table-item_mob {
    display: none;
  }

  .integrate__bg {
    right: 0;
    top: -34.8rem;
  }

  .integrate__coin {
    left: -5.7rem;
    top: -2rem;
  }

  .ready__wrap {
    padding: 16.4rem 0 13.5rem;
  }

  .ready__coin {
    right: 3.2rem;
    top: 8.9rem;
  }
}

@media (min-width: 2559px) {
  html {
    font-size: 18px !important;
  }
}

@media (max-width: 1279px) {
  .mob-none {
    display: none;
  }

  .hero__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .hero__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__body-title {
    text-align: center;
  }

  .accept__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block__body-title {
    text-align: center;
  }

  .block-reverse__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .block-reverse__body-title {
    text-align: center;
  }

  .integrate__table-item {
    display: none;
  }
}

@media (max-width: 720px) {
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3.7rem 0;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4.8rem;
  }

  .footer__logo {
    margin-bottom: 2.4rem;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 7.3rem;
  }

  .footer__btns-item:not(:last-child) {
    margin-bottom: 3.2rem;
  }
}

@media (max-width: 700px) {
  .cookie__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .cookie__p {
    max-width: 72%;
    margin-bottom: 2.4rem;
  }

  .cookie__btns {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 580px) {
  .header__btns {
    display: none;
  }
}

@media (max-width: 500px) {
  .md {
    padding: 0 1.6rem;
  }

  .btn {
    width: 100%;
  }

  .modal {
    max-width: 95%;
  }

  .input:not(:last-child) {
    margin-bottom: 2rem;
  }

  .hero__wrap {
    padding: 1.2rem 0 6.4rem;
  }

  .hero__picture {
    max-width: 31.2rem;
    margin: 0 auto 3.2rem;
  }

  .hero__bg {
    right: unset;
    left: 50%;
    top: -0.8rem;
  }

  .hero__bg_color {
    right: unset;
    left: 0;
    top: 2rem;
  }

  .l-wallet__wrap {
    width: 28.8rem;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .l-wallet__item {
    margin-bottom: 0.6rem;
  }

  .accept__item:not(:last-child) {
    margin-bottom: 5.6rem;
  }

  .accept__bg {
    left: unset;
    right: 0;
    top: -35.7rem;
  }

  .accept__coin {
    left: -5.5rem;
    bottom: 1.4rem;
  }

  .block__wrap {
    padding: 0 1.6rem;
  }

  .block__picture {
    margin-bottom: 3.2rem;
  }

  .block-reverse__wrap {
    padding: 13.1rem 0 9.6rem;
  }

  .block-reverse__picture {
    margin-bottom: 3.2rem;
  }

  .block-reverse__coin {
    right: -5.7rem;
    top: -3.3rem;
  }

  .integrate__head {
    margin-bottom: 3.2rem;
  }

  .integrate__body {
    padding: 0 1.6rem;
    margin-bottom: 5.5rem;
  }

  .integrate__item:not(:last-child) {
    margin-bottom: 4rem;
  }

  .integrate__table {
    overflow-y: scroll;
    overflow-y: hidden;
    padding-left: 1.6rem;
  }

  .integrate__table::-webkit-scrollbar {
    background-color: var(--scroll-bg);
    border: 0.6rem solid transparent;
    border-radius: 100px;
    background-clip: content-box;
  }

  .integrate__table::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border: 0.6rem solid transparent;
    border-radius: 100px;
    background-clip: content-box;
  }

  .integrate__table-item_mob {
    width: 50.9rem;
    height: auto;
    margin-bottom: 2.4rem;
  }

  .integrate__bg {
    left: 30%;
  }

  .integrate__coin {
    right: -7rem;
    top: -15rem;
  }

  .ready__coin {
    display: none;
  }

  .cpay__wrap {
    padding: 0 1.6rem;
  }

  .invoice__btn {
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }

  .tabs__wrap .tab {
    width: 35.5%;
  }

  .tabs__wrap .tab:nth-child(1) {
    width: 64.5%;
  }

  .address__qr {
    margin-right: 1.5rem;
  }

  .address__body_title {
    max-width: 80%;
  }

  .address__btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .wallet {
    grid-row-gap: 0.8rem;
  }

  .wallet__item img {
    max-width: 7.5rem;
  }
}

@media (max-width: 1279px) and (min-width: 500px) {
  .md {
    padding: 0 2.4rem;
  }

  .header__logo:not(:last-child) {
    margin-right: 4.8rem;
  }

  .hero__wrap {
    padding: 1.7rem 0 6.4rem;
  }

  .hero__body-btn {
    margin: 0 auto;
  }

  .hero__picture {
    margin: 0 auto 4rem;
  }

  .l-wallet__item {
    margin-bottom: 0.8rem;
  }

  .accept__item {
    width: 38.4rem;
  }

  .accept__item:not(:last-child) {
    margin-bottom: 6.4rem;
  }

  .block__wrap {
    padding: 0 7.3rem;
  }

  .block__picture {
    margin-bottom: 4.8rem;
  }

  .block-reverse__wrap {
    padding: 22.3rem 3.3rem 15.1rem;
  }

  .block-reverse__picture {
    margin-bottom: 4.8rem;
  }

  .integrate__item:not(:last-child) {
    margin-bottom: 4.8rem;
  }

  .integrate__table-item_mob {
    width: 100%;
    height: auto;
  }
}

@media (any-hover: hover) {
  .support:hover {
    color: var(--hover);
  }

  .btn:hover {
    background-color: var(--hover);
  }

  .btn_primary:hover {
    background-color: var(--primary);
  }

  .footer__btns-item:hover {
    color: var(--hover);
  }

  .cookie__p a:hover {
    color: var(--hover);
  }

  .cpay__support:hover {
    color: var(--hover);
  }

  .select:hover .nice-select {
    border-color: var(--primary);
  }

  .select:hover .nice-select.disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
    border-color: var(--select-border);
  }

  .select:hover label {
    border-color: var(--primary);
    z-index: 99;
  }

  .copybtn:hover svg path {
    fill: #4A46BA;
  }

  .tabs__wrap .tab:hover {
    color: var(--primary);
  }

  .cpay-payment__footer_link:hover {
    color: var(--hover);
  }
}